# Archivos y carpetas comunes de IntelliJ IDEA
.idea/
*.iml
*.iws

# Directorios de compilación
target/
*/target/

# Archivos específicos de Eclipse (por si lo abriste alguna vez con él)
*.classpath
*.project
.settings/
*/.classpath
*/.project
*/.settings

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log y temporales
*.log
*.tmp
*.bak
*.swp
